.container {
  display: grid;
  grid-template-columns: 200px 1fr; 
  grid-template-rows: 100px 300px;  
  grid-template-areas: 
  "header header" 
  "aside main";
}

.header_content { 
  grid-area: header;  
}

.aside_content { 
  grid-area: aside;
}

.main_content { 
  grid-area: main;
} 
